pipeline/copy_all_files.json
{
	"name": "copy_all_files",
	"properties": {
		"activities": [
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Metadata1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata1').output.childitems",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "Execute Pipeline1",
							"type": "ExecutePipeline",
							"typeProperties": {
								"pipeline": {
									"referenceName": "copy_single_file",
									"type": "PipelineReference"
								},
								"waitOnCompletion": false,
								"parameters": {
									"year": {
										"value": "@first(split(item().name, '.'))",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "Get Metadata1",
				"type": "GetMetadata",
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"dataset": {
						"referenceName": "source_files",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					]
				}
			}
		]
	}
}