adfsqlsatfm/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory Name",
			"defaultValue": "adfsqlsatfm"
		},
		"blob_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'blob'"
		},
		"AzureBlobStorageSinkFileStore1_properties_typeProperties_fileName": {
			"type": "string",
			"defaultValue": ""
		},
		"AzureBlobStorageSinkFileStore1_properties_typeProperties_folderPath": {
			"type": "string",
			"defaultValue": "@dataset().folder"
		},
		"AzureBlobStorageSourceFileStore1_properties_typeProperties_folderPath": {
			"type": "string",
			"defaultValue": "@dataset().folder"
		},
		"airline_bzip_properties_typeProperties_fileName": {
			"type": "string",
			"defaultValue": "@{dataset().file_pattern}.csv.bz2"
		},
		"airline_bzip_properties_typeProperties_folderPath": {
			"type": "string",
			"defaultValue": "airline/bzip"
		},
		"airline_csv_properties_typeProperties_fileName": {
			"type": "string",
			"defaultValue": "@{dataset().file_pattern}.csv.bz2"
		},
		"airline_csv_properties_typeProperties_folderPath": {
			"type": "string",
			"defaultValue": "airline/csv"
		},
		"source_files_properties_typeProperties_folderPath": {
			"type": "string",
			"defaultValue": "airline/bzip"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/CopyFilesfromMultipleContainers1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Copy all files across multiple containers or buckets from one file-based storage store to another",
				"activities": [
					{
						"name": "EnumerateContainersList",
						"description": "Scan the file path on your source storage store and get the container list.",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "AzureBlobStorageSourceFileStore1",
								"type": "DatasetReference",
								"parameters": {
									"folder": {
										"value": "@pipeline().parameters.SourceFilePath",
										"type": "Expression"
									}
								}
							},
							"fieldList": [
								"childItems"
							]
						}
					},
					{
						"name": "ForEachContainer",
						"description": "Get the container list from Metadata activity and then iterates each of them to Copy activity.",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "EnumerateContainersList",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('EnumerateContainersList').output.childItems",
								"type": "Expression"
							},
							"batchCount": 4,
							"activities": [
								{
									"name": "CopyOneContainer",
									"description": "Copy each container from source storage store to destination store.",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [
										{
											"name": "Source",
											"value": "@concat(pipeline().parameters.SourceFilePath,'/',item().name)"
										},
										{
											"name": "Destination",
											"value": "@concat(pipeline().parameters.DestinationFilePath,'/',item().name)"
										}
									],
									"typeProperties": {
										"source": {
											"type": "BlobSource",
											"recursive": true
										},
										"sink": {
											"type": "BlobSink",
											"copyBehavior": "PreserveHierarchy"
										},
										"enableStaging": false,
										"dataIntegrationUnits": 0
									},
									"inputs": [
										{
											"referenceName": "AzureBlobStorageSourceFileStore1",
											"type": "DatasetReference",
											"parameters": {
												"folder": {
													"value": "@concat(pipeline().parameters.SourceFilePath,'/',item().name)",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "AzureBlobStorageSinkFileStore1",
											"type": "DatasetReference",
											"parameters": {
												"folder": {
													"value": "@concat(pipeline().parameters.DestinationFilePath,'/',item().name)",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					}
				],
				"parameters": {
					"SourceFilePath": {
						"type": "String",
						"defaultValue": "/"
					},
					"DestinationFilePath": {
						"type": "String",
						"defaultValue": "/"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/AzureBlobStorageSourceFileStore1')]",
				"[concat(variables('factoryId'), '/datasets/AzureBlobStorageSinkFileStore1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/copy_all_files')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Get Metadata1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Get Metadata1').output.childitems",
								"type": "Expression"
							},
							"isSequential": false,
							"activities": [
								{
									"name": "Execute Pipeline1",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "copy_single_file",
											"type": "PipelineReference"
										},
										"waitOnCompletion": false,
										"parameters": {
											"year": {
												"value": "@first(split(item().name, '.'))",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					},
					{
						"name": "Get Metadata1",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "source_files",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"childItems"
							]
						}
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/source_files')]",
				"[concat(variables('factoryId'), '/pipelines/copy_single_file')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/copy_single_file')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "bz2_csv",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BlobSource",
								"recursive": true
							},
							"sink": {
								"type": "BlobSink"
							},
							"enableStaging": false,
							"enableSkipIncompatibleRow": true,
							"translator": {
								"type": "TabularTranslator",
								"columnMappings": {
									"Year": "Year",
									"Month": "Month",
									"DayofMonth": "DayofMonth",
									"DayOfWeek": "DayOfWeek",
									"DepTime": "DepTime",
									"CRSDepTime": "CRSDepTime",
									"ArrTime": "ArrTime",
									"CRSArrTime": "CRSArrTime",
									"UniqueCarrier": "UniqueCarrier",
									"FlightNum": "FlightNum",
									"TailNum": "TailNum",
									"ActualElapsedTime": "ActualElapsedTime",
									"CRSElapsedTime": "CRSElapsedTime",
									"AirTime": "AirTime",
									"ArrDelay": "ArrDelay",
									"DepDelay": "DepDelay",
									"Origin": "Origin",
									"Dest": "Dest",
									"Distance": "Distance",
									"TaxiIn": "TaxiIn",
									"TaxiOut": "TaxiOut",
									"Cancelled": "Cancelled",
									"CancellationCode": "CancellationCode",
									"Diverted": "Diverted",
									"CarrierDelay": "CarrierDelay",
									"WeatherDelay": "WeatherDelay",
									"NASDelay": "NASDelay",
									"SecurityDelay": "SecurityDelay",
									"LateAircraftDelay": "LateAircraftDelay"
								}
							}
						},
						"inputs": [
							{
								"referenceName": "airline_bzip",
								"type": "DatasetReference",
								"parameters": {
									"file_pattern": {
										"value": "@pipeline().parameters.year",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "airline_csv",
								"type": "DatasetReference",
								"parameters": {
									"file_pattern": {
										"value": "@pipeline().parameters.year",
										"type": "Expression"
									}
								}
							}
						]
					}
				],
				"parameters": {
					"year": {
						"type": "String",
						"defaultValue": "1987"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/airline_bzip')]",
				"[concat(variables('factoryId'), '/datasets/airline_csv')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureBlobStorageSinkFileStore1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Connection to your destination data store.",
				"linkedServiceName": {
					"referenceName": "blob",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"folder": {
						"type": "String"
					}
				},
				"annotations": [],
				"type": "AzureBlob",
				"typeProperties": {
					"fileName": "[parameters('AzureBlobStorageSinkFileStore1_properties_typeProperties_fileName')]",
					"folderPath": {
						"value": "[parameters('AzureBlobStorageSinkFileStore1_properties_typeProperties_folderPath')]",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/blob')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureBlobStorageSourceFileStore1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Connection to your source data store.",
				"linkedServiceName": {
					"referenceName": "blob",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"folder": {
						"type": "String"
					}
				},
				"annotations": [],
				"type": "AzureBlob",
				"typeProperties": {
					"folderPath": {
						"value": "[parameters('AzureBlobStorageSourceFileStore1_properties_typeProperties_folderPath')]",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/blob')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/airline_bzip')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "blob",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"file_pattern": {
						"type": "String",
						"defaultValue": "*"
					}
				},
				"annotations": [],
				"type": "AzureBlob",
				"structure": [
					{
						"name": "Year",
						"type": "String"
					},
					{
						"name": "Month",
						"type": "String"
					},
					{
						"name": "DayofMonth",
						"type": "String"
					},
					{
						"name": "DayOfWeek",
						"type": "String"
					},
					{
						"name": "DepTime",
						"type": "String"
					},
					{
						"name": "CRSDepTime",
						"type": "String"
					},
					{
						"name": "ArrTime",
						"type": "String"
					},
					{
						"name": "CRSArrTime",
						"type": "String"
					},
					{
						"name": "UniqueCarrier",
						"type": "String"
					},
					{
						"name": "FlightNum",
						"type": "String"
					},
					{
						"name": "TailNum",
						"type": "String"
					},
					{
						"name": "ActualElapsedTime",
						"type": "String"
					},
					{
						"name": "CRSElapsedTime",
						"type": "String"
					},
					{
						"name": "AirTime",
						"type": "String"
					},
					{
						"name": "ArrDelay",
						"type": "String"
					},
					{
						"name": "DepDelay",
						"type": "String"
					},
					{
						"name": "Origin",
						"type": "String"
					},
					{
						"name": "Dest",
						"type": "String"
					},
					{
						"name": "Distance",
						"type": "String"
					},
					{
						"name": "TaxiIn",
						"type": "String"
					},
					{
						"name": "TaxiOut",
						"type": "String"
					},
					{
						"name": "Cancelled",
						"type": "String"
					},
					{
						"name": "CancellationCode",
						"type": "String"
					},
					{
						"name": "Diverted",
						"type": "String"
					},
					{
						"name": "CarrierDelay",
						"type": "String"
					},
					{
						"name": "WeatherDelay",
						"type": "String"
					},
					{
						"name": "NASDelay",
						"type": "String"
					},
					{
						"name": "SecurityDelay",
						"type": "String"
					},
					{
						"name": "LateAircraftDelay",
						"type": "String"
					}
				],
				"typeProperties": {
					"format": {
						"type": "TextFormat",
						"columnDelimiter": ",",
						"rowDelimiter": "",
						"nullValue": "\\N",
						"encodingName": null,
						"treatEmptyAsNull": true,
						"skipLineCount": 0,
						"firstRowAsHeader": true
					},
					"compression": {
						"type": "BZip2"
					},
					"fileName": {
						"value": "[parameters('airline_bzip_properties_typeProperties_fileName')]",
						"type": "Expression"
					},
					"folderPath": "[parameters('airline_bzip_properties_typeProperties_folderPath')]"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/blob')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/airline_csv')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "blob",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"file_pattern": {
						"type": "String",
						"defaultValue": "*"
					}
				},
				"annotations": [],
				"type": "AzureBlob",
				"structure": [
					{
						"name": "Year",
						"type": "String"
					},
					{
						"name": "Month",
						"type": "String"
					},
					{
						"name": "DayofMonth",
						"type": "String"
					},
					{
						"name": "DayOfWeek",
						"type": "String"
					},
					{
						"name": "DepTime",
						"type": "String"
					},
					{
						"name": "CRSDepTime",
						"type": "String"
					},
					{
						"name": "ArrTime",
						"type": "String"
					},
					{
						"name": "CRSArrTime",
						"type": "String"
					},
					{
						"name": "UniqueCarrier",
						"type": "String"
					},
					{
						"name": "FlightNum",
						"type": "String"
					},
					{
						"name": "TailNum",
						"type": "String"
					},
					{
						"name": "ActualElapsedTime",
						"type": "String"
					},
					{
						"name": "CRSElapsedTime",
						"type": "String"
					},
					{
						"name": "AirTime",
						"type": "String"
					},
					{
						"name": "ArrDelay",
						"type": "String"
					},
					{
						"name": "DepDelay",
						"type": "String"
					},
					{
						"name": "Origin",
						"type": "String"
					},
					{
						"name": "Dest",
						"type": "String"
					},
					{
						"name": "Distance",
						"type": "String"
					},
					{
						"name": "TaxiIn",
						"type": "String"
					},
					{
						"name": "TaxiOut",
						"type": "String"
					},
					{
						"name": "Cancelled",
						"type": "String"
					},
					{
						"name": "CancellationCode",
						"type": "String"
					},
					{
						"name": "Diverted",
						"type": "String"
					},
					{
						"name": "CarrierDelay",
						"type": "String"
					},
					{
						"name": "WeatherDelay",
						"type": "String"
					},
					{
						"name": "NASDelay",
						"type": "String"
					},
					{
						"name": "SecurityDelay",
						"type": "String"
					},
					{
						"name": "LateAircraftDelay",
						"type": "String"
					}
				],
				"typeProperties": {
					"format": {
						"type": "TextFormat",
						"columnDelimiter": ",",
						"rowDelimiter": "",
						"nullValue": "\\N",
						"encodingName": null,
						"treatEmptyAsNull": true,
						"skipLineCount": 0,
						"firstRowAsHeader": true
					},
					"fileName": {
						"value": "[parameters('airline_csv_properties_typeProperties_fileName')]",
						"type": "Expression"
					},
					"folderPath": "[parameters('airline_csv_properties_typeProperties_folderPath')]"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/blob')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/source_files')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "blob",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureBlob",
				"typeProperties": {
					"folderPath": "[parameters('source_files_properties_typeProperties_folderPath')]"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/blob')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/blob')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('blob_connectionString')]"
				}
			},
			"dependsOn": []
		}
	]
}